/*basic reset*/
*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
}
/*
/*project font definitions*/
html{
    //apesar de ser o tamanho da fonte, isto é visto mais como uma definição geral sobre o tamanho da unidade REM
    font-size:62.5%;
}

body{
 box-sizing: border-box;

}